<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PNPController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"  />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
      
        <PNPController.Properties.Settings>
            <setting name="backgroundWorker1_ProgressChanged" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="backgroundWorkerUpdateDRO_ProgressChanged" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingBoardOffsetX" serializeAs="String">
                <value>36.7</value>
            </setting>
            <setting name="SettingBoardOffsetY" serializeAs="String">
                <value>74.7</value>
            </setting>
            <setting name="SettingPCBThickness" serializeAs="String">
                <value>1.6</value>
            </setting>
            <setting name="SettingFeedRate" serializeAs="String">
                <value>17000</value>
            </setting>
            <setting name="SettingTimeMS" serializeAs="String">
                <value>1000</value>
            </setting>
        </PNPController.Properties.Settings>
    </userSettings>
</configuration>